In [1]:
import numpy as np
import pandas as pd

#### 1. Refer to googleplaystore.csv file and solve following questions

In [2]:
data = pd.read_csv("Datasets/googleplaystore.csv")

##### a. Display First 5 records from Dataframe.

In [3]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

##### b. Display category with highest number of apps registered.

In [6]:
data['Category'].value_counts().head(1)

Category
FAMILY    1972
Name: count, dtype: int64

##### c. What is the average rating for all the apps

In [7]:
data['Rating'].mean()

np.float64(4.193338315362443)

##### d. Display total number of apps which even supports Andriod version 2.3 and up

In [14]:
#data[data['Android Ver'] == '2.3 and up'].shape[0]
#len(data[data['Android Ver'] == '2.3 and up'])
data['Android Ver'].value_counts()['2.3 and up']

np.int64(652)

##### e. Impute the missing values available in rating column with respective measure of central tendency.

In [25]:
data['Rating'].isna().sum()

np.int64(1474)

In [26]:
mean_rating = data['Rating'].mean()
mean_rating

np.float64(4.193338315362443)

In [27]:
data['Rating'].fillna(mean_rating, inplace=True)

C:\Users\Kdukare\AppData\Local\Temp\ipykernel_2740\508455380.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Rating'].fillna(mean_rating, inplace=True)

In [28]:
data['Rating'].isna().sum()

np.int64(0)

#### 2. Refer to salaries.xlsx file and solve following questions

In [31]:
data = pd.read_excel("Datasets/Salaries.xlsx")

##### a. Check head of the dataframe

In [32]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

##### b. Find out details about no. of entries & no. of columns in the data frame

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1000 non-null   int64
 1   EmployeeName      1000 non-null   object
 2   JobTitle          1000 non-null   object
 3   BasePay           1000 non-null   float64
 4   OvertimePay       1000 non-null   float64
 5   OtherPay          1000 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          1000 non-null   float64
 8   TotalPayBenefits  1000 non-null   float64
 9   Year              1000 non-null   int64
 10  Notes             0 non-null      float64
 11  Agency            1000 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(8), int64(2), object(3)
memory usage: 101.7+ KB

##### c. What is the average base pay?

In [34]:
data['BasePay'].mean()

np.float64(145663.9982)

##### d. What is the highest amount of overtime pay in the dataset?

In [36]:
data['OvertimePay'].max()

np.float64(245131.88)

##### e. What is the job title of JOSEPH DRISCOLL?

In [39]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

##### f. How much does JOSEPH DRISCOLL make (including benefits)?

In [41]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

##### g. How many unique job titles are there?

In [43]:
data['JobTitle'].nunique()

113

##### h. What are the top 5 common jobs?

In [45]:
data['JobTitle'].value_counts().head()

JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64