##### 1. Write code to create a 4x3 matrix with values ranging from 2 to 13.

In [1]:
import numpy as np

In [2]:
arr1 = np.arange(2,14).reshape(4,3)

In [3]:
arr1

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

##### 2. Write code to replace the odd numbers by -1 in the array created by using random.randint( 1 , 50,20)

In [4]:
arr1 = np.random.randint(1,50,20)
arr1

array([36, 35, 45, 49,  3, 17, 47, 48, 33,  9, 26,  6, 35, 27, 33, 18, 48,
        5, 26, 16], dtype=int32)

In [5]:
arr1 = np.where(arr1 % 2 != 0, -1, arr1)
arr1

array([36, -1, -1, -1, -1, -1, -1, 48, -1, -1, 26,  6, -1, -1, -1, 18, 48,
       -1, 26, 16], dtype=int32)

##### 3. Perform the following operations on an array of mobile phones prices 6999, 7500, 11999, 27899, 14999, 9999

In [13]:
arr1 = np.array([6999, 7500, 11999, 27899, 14999, 9999])
arr1

array([ 6999,  7500, 11999, 27899, 14999,  9999])

###### a. Create a 1d-array of mobile phones prices

In [7]:
arr1 = np.array([6999, 7500, 11999, 27899, 14999, 9999])
arr1
arr1.ndim

1

###### b. Convert this array to float type

In [8]:
arr1 = np.array([6999, 7500, 11999, 27899, 14999, 9999]) 
arr1 = arr1.astype(float)
arr1

array([ 6999.,  7500., 11999., 27899., 14999.,  9999.])

###### c. Append a new mobile having price of 13999 Rs. to this array

In [9]:
arr1 = np.append(arr1, 13999)
arr1

array([ 6999.,  7500., 11999., 27899., 14999.,  9999., 13999.])

###### d. Reverse this array of mobile phones prices

In [10]:
arr1[::-1]

array([13999.,  9999., 14999., 27899., 11999.,  7500.,  6999.])

###### e. Apply GST of 18% on mobile phones prices and update this array.

In [11]:
arr2 = arr1 * 1.18
arr2

array([ 8258.82,  8850.  , 14158.82, 32920.82, 17698.82, 11798.82,
       16518.82])

###### f. Sort the array in descending order of price

In [14]:
arr1 = np.sort(arr1)[::-1]
arr1

array([27899, 14999, 11999,  9999,  7500,  6999])

###### g. What is the average mobile phone price

In [18]:
arr1.mean()

np.float64(13232.5)

###### h. What is the difference b/w maximum and minimum price

In [20]:
arr = arr1.max() - arr1.min()

In [21]:
arr

np.int64(20900)

##### 4. Find out the indices of non zero element in given array [1,2,0,0,4,0]

In [24]:
arr3 = np.array([1,2,0,0,4,0])
arr3

array([1, 2, 0, 0, 4, 0])

In [25]:
arr3 = np.nonzero(arr3)
arr3

(array([0, 1, 4]),)